.container2 {
    position: absolute !important;
    transform: translate(100vw, 0);
    transition: all .8s ;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: $color-secondary-light;

    .block2 {
      img {
        height: 100vh;
      }
    }
}

.container1, .container3, .container4, .container5, .container6 {
  position: absolute !important;
  transform: translate(100vw, 0);
  transition: all .8s ;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: $color-secondary-light;

  .block, .block3, .block4, .block5, .block6 {
    img {
      height: 100vh;
    }
  }
}

.block-inbetween {
  height: 100vh;
  width: 40vw;
  background-color: $color-secondary-light;
  white-space: normal;
  padding: 15rem ;

  @media only screen and (max-width:$bp-largest ) {
    padding: 10rem ;
  }

  color: $color-primary;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;

  @media only screen and (max-width:$bp-small ) {
    width: 100vw;
  }

  &__text {
    padding-bottom: 55%;
  }
}

.block-intro {
  height: 100vh;
  width: 50vw;
  background-color: $color-secondary-light;
  white-space: normal;
  padding: 0 5rem 30rem 15rem;

  @media only screen and (max-width:$bp-small ) {
    width: 100vw;
    padding: 0 5rem 30rem 8rem;
  }
  
  &__icon {

    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;

    padding-bottom: 50%;

    &-1 {
      fill: $color-primary;
      height: 100%;
      width: 100%;
      animation:moveRight 3s ease infinite;
      justify-self: start;

      @media only screen and (max-width:$bp-small ) {
        display: none;      
      }
    }

    &-2 {
      display: none;
      fill: $color-primary;
      height: 70%;
      width: 70%;
      justify-self: start;
      animation:moveUp 3s ease infinite;

      @media only screen and (max-width:$bp-small ) {
        display: block;      
      }
    }

    @keyframes moveRight {
      0%   {transform:translateX(-3rem); opacity: 1;}
      100% {transform:translateX(10rem); opacity: 0;}
    }

    @keyframes moveUp {
      0%   {transform:translateY(5rem); opacity: 1;}

      50% {transform:translateY(-5rem); opacity: 1;}

      100% {transform:translateY(5rem); opacity: 1;}
    }

    &-title {
      color: $color-primary-light;
      font-weight: 900;
      font-size: 5.6rem;
      line-height: 4.2rem;
      text-transform: uppercase;
      text-align: right;
      align-self: end;

      @media only screen and (max-width:$bp-small ) {
        align-self: end;
      }

    }
  }

  &__title {
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 3rem;
    padding-bottom: .6rem;
    text-transform: uppercase;
    text-align: end;

  }

  &__detail {
    display: flex;
    padding-bottom: .3rem;
    text-transform: uppercase;
    justify-content: flex-end;

    &-title {
      font-size: 1.4rem;
      font-weight: 500;
 
    }

    &-text {
      margin-left: 1rem;
      font-size: 1.4rem;
      font-weight: 300;
      font-style: italic;
      text-align: right;


    }
  }

  &__text {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.2rem;
    text-align: right;

  }
}

.block-end {
  height: 100vh;
  width: 10vw;
}

.block1 {

  &__pic3{
    transform: scale(.7);
  }
}

iframe {
  width:76.8rem; 
  height:43.2rem;
  transform: translateY(-20vh);
  @media only screen and (max-width:$bp-small ) {
    width:53.76em; 
    height:30.24rem;
    transform: translateY(-40vh);
  }
}

.block3, .block4, .block5, .block6 {
  &__pic2{
    transform: scale(.7) translateX(-10rem);
  }
  &__pic3{
    transform: scale(.7) translateX(-18rem);
  }
}

.scroll-big {
  @media only screen and (max-width:$bp-small ) {
    display: none;
  }
}

.scroll-small {
  display: none;
  @media only screen and (max-width:$bp-small ) {
    display: block;
    font-size: 4rem;
    line-height: 3rem;
  }
}